---
layout: archive
permalink: /wae194-final-a/
title: "wae194 finala"
author_profile: true
---
<!-- 
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<meta http-equiv="refresh" content="0;url=https://stonybrook.zoom.us/j/6194915129">